# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/.gitignore
*.iml
*.xml
/.ipynb_checkpoints
/__pycache__
